define OWNAS = {{as}};
define OWNIPv4 = {{ipv4}};
define OWNIPv6 = {{ipv6}};
define OWNNETv4 = {{ownnet.ipv4}};
define OWNNETv6 = {{ownnet.ipv6}};

log stderr all;

define OWNNETSETv4 = [
  {{#each nets.ipv4}}
  {{0}}{ {{~1}},{{2~}} }{{#unless @last}},{{/unless}}
  {{/each}}
];
define OWNNETSETv6 = [
  {{#each nets.ipv6}}
  {{0}}{ {{~1}},{{2~}} }{{#unless @last}},{{/unless}}
  {{/each}}
];

define DN42_REGION = {{region}};
# https://github.com/Mic92/bird-dn42/blob/master/local4-template.conf

# Make birdwatcher happy
timeformat base         iso long;
timeformat log          iso long;
timeformat protocol     iso long;
timeformat route        iso long;

router id {{ipv4}};

protocol device {
  scan time 10;
}

include "/data/bird/roa.conf";

/*
 *  Utility functions
 */

function is_self_net_v4() {
  return net ~ OWNNETSETv4;
}

function is_self_net_v6() {
  return net ~ OWNNETSETv6;
}

function is_valid_network_v4() {
  return net ~ [
    {{#each dn42.validNets.ipv4}}
    {{prefix}}{ {{~minlen}},{{maxlen~}} }{{#unless @last}},{{/unless}} # {{comment}}
    {{/each}}
  ];
}

function is_valid_network_v6() {
  return net ~ [
    {{#each dn42.validNets.ipv6}}
    {{prefix}}{ {{~minlen}},{{maxlen~}} }{{#unless @last}},{{/unless}} # {{comment}}
    {{/each}}
  ];
}

function update_latency(int link_latency) {
  bgp_community.add((64511, link_latency));
       if (64511, 9) ~ bgp_community then { bgp_community.delete([(64511, 1..8)]); return 9; }
  else if (64511, 8) ~ bgp_community then { bgp_community.delete([(64511, 1..7)]); return 8; }
  else if (64511, 7) ~ bgp_community then { bgp_community.delete([(64511, 1..6)]); return 7; }
  else if (64511, 6) ~ bgp_community then { bgp_community.delete([(64511, 1..5)]); return 6; }
  else if (64511, 5) ~ bgp_community then { bgp_community.delete([(64511, 1..4)]); return 5; }
  else if (64511, 4) ~ bgp_community then { bgp_community.delete([(64511, 1..3)]); return 4; }
  else if (64511, 3) ~ bgp_community then { bgp_community.delete([(64511, 1..2)]); return 3; }
  else if (64511, 2) ~ bgp_community then { bgp_community.delete([(64511, 1..1)]); return 2; }
  else return 1;
}

function update_bandwidth(int link_bandwidth) {
  bgp_community.add((64511, link_bandwidth));
       if (64511, 21) ~ bgp_community then { bgp_community.delete([(64511, 22..29)]); return 21; }
  else if (64511, 22) ~ bgp_community then { bgp_community.delete([(64511, 23..29)]); return 22; }
  else if (64511, 23) ~ bgp_community then { bgp_community.delete([(64511, 24..29)]); return 23; }
  else if (64511, 24) ~ bgp_community then { bgp_community.delete([(64511, 25..29)]); return 24; }
  else if (64511, 25) ~ bgp_community then { bgp_community.delete([(64511, 26..29)]); return 25; }
  else if (64511, 26) ~ bgp_community then { bgp_community.delete([(64511, 27..29)]); return 26; }
  else if (64511, 27) ~ bgp_community then { bgp_community.delete([(64511, 28..29)]); return 27; }
  else if (64511, 28) ~ bgp_community then { bgp_community.delete([(64511, 29..29)]); return 28; }
  else return 29;
}

function update_crypto(int link_crypto) {
  bgp_community.add((64511, link_crypto));
       if (64511, 31) ~ bgp_community then { bgp_community.delete([(64511, 32..34)]); return 31; }
  else if (64511, 32) ~ bgp_community then { bgp_community.delete([(64511, 33..34)]); return 32; }
  else if (64511, 33) ~ bgp_community then { bgp_community.delete([(64511, 34..34)]); return 33; }
  else return 34;
}
	
function update_flags(int link_latency; int link_bandwidth; int link_crypto)
int dn42_latency;
int dn42_bandwidth;
int dn42_crypto;
{
  dn42_latency = update_latency(link_latency);
  dn42_bandwidth = update_bandwidth(link_bandwidth) - 20;
  dn42_crypto = update_crypto(link_crypto) - 30;
  # replace 4 with your calculated bandwidth value
  if dn42_bandwidth > 4 then dn42_bandwidth = 4;
  return true;
}

function dn42_import_filter_v4(int link_latency; int link_bandwidth; int link_crypto) {
  if (roa_check(dn42_roa_v4, net, bgp_path.last) = ROA_INVALID) then {
    print "[dn42] ROA check failed for ", net, " ASN ", bgp_path.last;
    reject;
  }
  if is_valid_network_v4() && !is_self_net_v4() then {
    update_flags(link_latency, link_bandwidth, link_crypto);
    accept;
  }
  reject;
}

function dn42_export_filter_v4(int link_latency; int link_bandwith; int link_crypto) {
  if is_valid_network_v4() then {
		if source = RTS_STATIC then bgp_community.add((64511, DN42_REGION));
    update_flags(link_latency, link_bandwith, link_crypto);
    accept;
  }
  reject;
}

function dn42_import_filter_v6(int link_latency; int link_bandwidth; int link_crypto) {
  if (roa_check(dn42_roa_v6, net, bgp_path.last) = ROA_INVALID) then {
    print "[dn42] ROA check failed for ", net, " ASN ", bgp_path.last;
    reject;
  }
  if is_valid_network_v6() && !is_self_net_v6() then {
    update_flags(link_latency, link_bandwidth, link_crypto);
    accept;
  }
  reject;
}

function dn42_export_filter_v6(int link_latency; int link_bandwith; int link_crypto) {
  if is_valid_network_v6() then {
	  if source = RTS_STATIC then bgp_community.add((64511, DN42_REGION));
    update_flags(link_latency, link_bandwith, link_crypto);
    accept;
  }
  reject;
}

protocol kernel {
  scan time 20;
  ipv4 {
    import none;
    export filter {
      if source = RTS_STATIC then reject;
      krt_prefsrc = OWNIPv4;
      accept;
    };
  };
}

protocol kernel {
  scan time 20;
  ipv6 {
    import none;
    export filter {
      if source = RTS_STATIC then reject;
      krt_prefsrc = OWNIPv6;
      accept;
    };
  };
}

protocol static {
  route OWNNETv4 reject;
  ipv4 {
    import all;
    export none;
  };
}

protocol static {
  route OWNNETv6 reject;
  ipv6 {
    import all;
    export none;
  };
}

template bgp dnpeers {
  local as OWNAS;
  path metric 1;
  ipv4 {
    import filter {
      if is_valid_network_v4() && !is_self_net_v4() then {
        if (roa_check(dn42_roa_v4, net, bgp_path.last) != ROA_VALID) then {
          print "[dn42] ROA check failed for ", net, " ASN ", bgp_path.last;
          reject;
        } else accept;
      } else reject;
    };
    export filter {     	if is_valid_network_v4() then accept; else reject; 
    };
    import limit 1000 action block;
  };
  ipv6 {
    import filter {
      if is_valid_network_v6() && !is_self_net_v6() then {
        if (roa_check(dn42_roa_v6, net, bgp_path.last) != ROA_VALID) then {
          print "[dn42] ROA check failed for ", net, " ASN ", bgp_path.last;
          reject;
        } else accept;
      } else reject;
    };
    export filter { if is_valid_network_v6() then accept; else reject; };
    import limit 1000 action block;
  };
}

ipv4 table T_OSPF_v4;
ipv6 table T_OSPF_v6;

protocol pipe P_OSPF_v4 {
  table T_OSPF_v4;
  peer table master4;
  import none;
  export all;
}

protocol pipe P_OSPF_v6 {
  table T_OSPF_v6;
  peer table master6;
  import none;
  export all;
}

protocol ospf v2 O_OSPF_v4 {
  ipv4 { table T_OSPF_v4; export all; };
  area 0.0.0.0 {
    interface "lo" {
      stub;
    };
    interface "wg-int-*" {
    };
  };
}

protocol ospf v3 O_OSPF_v6 {
  ipv6 { table T_OSPF_v6; export all; };
  area 0.0.0.0 {
    interface "lo" {
      stub;
    };
    interface "wg-int-*" {
    };
  };
}

function iBGP_routing_policy() {
  if source = RTS_OSPF then return false;       # For iBGP i don't want OSPF in my Routing Policy
  if source = RTS_DEVICE then return false;     # For iBGP i don't want DEVICE ROUTES in my Routing Policy

  krt_prefsrc = OWNIPv4;

  return true;                                  # Allow all on iBGP Links
};

function iBGP_routing_policy_v6() {
  if source = RTS_OSPF then return false;       # For iBGP i don't want OSPF in my Routing Policy
  if source = RTS_DEVICE then return false;     # For iBGP i don't want DEVICE ROUTES in my Routing Policy

  krt_prefsrc = OWNIPv6;

  return true;                                  # Allow all on iBGP Links
};

function iBGP_import_peer_policy() {

  if bgp_path.len > 64 then return false;       # Reject too long BGP Paths
  #if local_nets() then return false;            # Reject local used networks (IXP, Peerings) from iBGP Peers
  if ( bgp_local_pref > 1000 ) then {           # Reset local pref on iBGP Links, to do AS Path Metric only
        bgp_local_pref = 100;
  }

  return true;                                  # Allow all on iBGP Links
};

function iBGP_export_peer_policy() {

  #if proto = "dn42_static" then return true;    # Allow Static announced routes, should be renamed to S_STATIC
  if proto = RTS_STATIC then return true; 

  if source != RTS_BGP then return false;
  if bgp_path.len > 64 then return false;

  return true;                                  # Allow all on iBGP Links
};

# Template for iBGP Peerings
template bgp iBGP_Peer {
  local as OWNAS;
  # Table should be set within each Peer to T_PEERNAME
  path metric on;                               # Enable comparison of path lengths when deciding which BGP route is the best one
  source address OWNIPv4; 
  ipv4 {
    igp table T_OSPF_v4;
    import keep filtered;                         # Keep Filtered Routes for this peering.
    import where iBGP_import_peer_policy();       # iBGP Import Peer Policy
    export where iBGP_export_peer_policy();       # iBGP Export Peer Policy
    next hop self;                                # Set Next Hop Self for clean routing
  }; # iBGP Peering with MYIPv4 to add backup paths
  ipv6 {
    igp table T_OSPF_v6;
    import keep filtered;                         # Keep Filtered Routes for this peering.
    import where iBGP_import_peer_policy();       # iBGP Import Peer Policy
    export where iBGP_export_peer_policy();       # iBGP Export Peer Policy
    next hop self;                                # Set Next Hop Self for clean routing
  }; # iBGP Peering with MYIPv4 to add backup paths
};

# Template Pipe for iBGP Peerings
ipv4 table T_DUMMY_v4;
ipv6 table T_DUMMY_v6;

template pipe iBGP_Pipe_v4 {
  table T_DUMMY_v4;
  peer table master4;
  import where iBGP_routing_policy();
  export where iBGP_routing_policy();
}

template pipe iBGP_Pipe_v6 {
  table T_DUMMY_v6;
  peer table master6;
  import where iBGP_routing_policy_v6();
  export where iBGP_routing_policy_v6();
}

include "/data/bird/peers/*";